<footer>
    footer content
</footer>
</div>
<script src="./javascripts/typewriter.js"></script>
<script>
    new TypeWriter('#search__input', ['Search : MS Dhoni', ' Search :  Sachin Tendulkar' ,' Search : Virat Kohli'],{
    // writeDelay: 60,
    writeDelay: 100,
    deleteDelay: 30
})
</script>
</body>
</html>
