<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CricZilla</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ravi+Prakash&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">  -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ravi+Prakash&family=Righteous&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">  -->
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="container">   
    <header class="header">
    <a class="header__logo" href="/">CricZilla</a>
   
    <form class="search" action="/search" method="post" >
    <!-- <form class="search" href="/all" onclick="showSuggestions(this)"> -->
        <input class="search__input" name="search__input" id="search__input" type="text" placeholder="" autocomplete="off" required >
       <!-- <object name="wordToMatch"></object> -->
        <!-- <button type="submit" class="search__button">
            <div class="search__icon"></div>
        </button> -->
        <ul class="search__suggestions enable"  id="suggestions">
            <!-- <a class="search__suggestion__link" href="/"><img class="player__img" src="https://p.imgci.com/db/PICTURES/CMS/314800/314812.jpg" ></img><p class="player__name">  Aman Sud <span class="hl"> Kumar </span> Abhiroope <p> <p class="player__fullName"> AmanSAHJSH HAS shda shad </p>  </a> -->
            <!-- <a class="search__suggestion__link"><img src="https://p.imgci.com/db/PICTURES/CMS/271800/271814.jpg" alt="img">   Abhishek Gupta</a>
            <a class="search__suggestion__link"> <img src="https://www.espncricinfo.com/inline/content/image/1132211.html"></img> <span>Abhishek</span> Kaushik</a> -->
            <!-- <a class="search__suggestion__link"> <img src="images/default-picture.png"> <span >Abhis</span>hek Kaushik</a> -->
            <!-- <a class="search__suggestion__link" href="/"><img class="player__img" src="https://www.espncricinfo.com/inline/content/image/1220600.html"></img><p class="player__name"><span class="hl">MS</span> Dhoni </p> <p class="player__fullName"> Mahendra Singh Dhoni  </p>  </a> -->
            <!-- <a class="search__suggestion__link" href="/"><img class="player__img" ></img><p class="player__name"><span>MS</span>Dhoni </p> <p class="player__fullName"> Mahendra Singh Dhoni </p>  </a> -->
            
        </ul>

        
    </form>
    <div class="header__menu">    
        <div class="navbar__nav">
        <a class="nav__link nav__link--live-scores"  id="live" href="/live">Live Scores</a>
        <a class="nav__link" href="/buzz">Buzz</a>
        <a class="nav__link" href="/news">NEWS</a>
        </div>
    </div>
    
    <!-- Header content -->
</header>
    
