<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ravi+Prakash&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">  -->
    <link href="https://fonts.googleapis.com/css2?family=Ravi+Prakash&family=Righteous&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet"> 
    <title>CricZilla</title>
</head>
<body>
    <div class="container">   
    <header class="header">
    <a class="header__logo" href="/">CricZilla</a>
   
    <form class="search" href="/all">
        <input class="search__input" id="search__input" type="text" placeholder="" autocomplete="off">
        <button type="submit" class="search__button">
            <div class="search__icon"></div>
        </button>
    </form>
    <div class="header__menu">    
        <div class="navbar__nav">
        <a class="nav__link nav__link--live-scores"  id="live" href="/live">Live Scores</a>
        <a class="nav__link" href="/buzz">Buzz</a>
        <a class="nav__link" href="/news">NEWS</a>
        </div>
    </div>
    
    <!-- Header content -->
</header>
    
