*,*::after,*::before{
  margin:0;
	padding:0;
  border:0;
  box-sizing: inherit;
}


:root {
  /*

    font-family: 'Righteous', cursive;
  */
  /* --font-display:'Ravi Prakash', cursive; */
  --font-display:'Gugi', cursive;;
  --font-primary: 'Roboto', sans-serif;
  --color-main-linear-gradient:linear-gradient(90deg, rgba(76,176,80,1) 0%, rgba(226,209,167,1) 35%, rgba(226,209,167,1) 65%, rgba(76,176,80,1) 100%); 

  
  --color-primary-light:rgb(76,176,80);
  --color-primary-dark:rgb(34, 119, 36);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; 
}


html{
  font-family:var(--font-primary);
  font-size: 62.5%;
  box-sizing: border-box;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}


body{
  background: var(--color-main-linear-gradient); 
}

.container{
  background-color: transparent;
}

.header {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem; 
  padding-left: 2rem;

  background: rgba(0,0,0,.20);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.33);
}

.header__logo:link , .header__logo:visited{  
  display: inline-block;
  font-family: var(--font-display);
  margin: 0;
  padding: 0;
  font-size: 4rem;
  color: #fff;
  text-decoration: none;
}




/* SEARCH */



.search{
/* background-color: orangered; */
flex: 0 0 40%;
display: flex;
align-items: center;
justify-content: center;
}



.search__input{
  font-family: inherit;
  font-size: inherit;
  font-size: 1.6rem;
  background-color:#fff; 
  color: #949494;  
  border: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all .2s;
  margin-right: -3.70rem;
}

.search__input:focus{
  outline: none;
  color:#000; 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.search__input::-webkit-input-placeholder{
  /* font-weight: 100; */
  /* font-size: 100; */
   /* color: var(--color-grey-light-4); */
  /* color: #0000; */
  /* color: red; */
}

.search__input:focus + search__button{
  /* background-color: var(--color-grey-light-3); */
  /* background-color: red; */
}

.search__button {

  font-family: var(--font-primary);
  border: none;
  background-color: #b0a078;
  border-radius: 100px;
  padding: .6rem;
  align-self: center;

  font-size:1.4rem;
  color: #000;
  display: flex;


  position: relative;
  overflow: hidden;
  outline: 0;
  box-shadow: 0 .2rem 0.2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all .2s;
}

.search__button:hover{
  opacity: .7;
}
.search__button:active {
  transform: translateY(.02rem);
  box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.5);
}




.search__icon{
  height: 1.8rem;
  width: 2rem;
  background-color:rgba(0, 0, 0, 0.5);
  background-color: #fff;
  -webkit-mask: url(../images/loupe.svg) no-repeat center;
}


.navbar__nav{
  display: flex;
}


.navbar__nav > * {
  list-style: none;
}


.nav__link,.nav__link:link, .nav__link:visited,nav__link:focus,nav__link:visited{
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  height: 5rem;
  padding:0rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}

.nav__link:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__link.nav__link--live-scores::before{
content: "";
display: inline-block;
height:1.4rem;
width:1.4rem;
border-radius: 100px;
margin-right:.2rem;
animation-name: liveColorAnimation;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate-reverse;

}

@keyframes liveColorAnimation{
  from {background-color: red;}
  to {background-color:var(--color-grey-light-2);}
}



main{
  height: 80vh;
  background: var(--color-main-linear-gradient);
}

footer{
  height:20vh;
  background-color: rgba(13,143,79, 0.45);
  font-size:2rem;
}

