body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f6f6f6;
}

img { max-width: 100%;}
h2 { font-size: 1.6rem; }



.wrapper { padding: 0 1rem }

.news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 4rem;
    
}
    .news__card {
        text-decoration: none;
        color: rgb(8, 8, 8);
        background-color: #fff;
        padding: 15px;
   
        transition: transform .2s;
        border-radius: 5px;
        z-index: 100;
        text-align: left;
        
    }
        .news__card:hover {
            box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
            transform: scale(1.1);
        }
        .border{
            border-radius: 5px;
        }
        
 .newsdes{
     font-size: 15px;
     color: rgb(0, 0, 0);
 }
