*{
  margin:0;
	padding:0;
	border:0;
}

a {
  color: #00B7FF;
}

body{
  color: white;
}

header {
  height: 15vh;
  background-color: orangered;
}

main{
  height: 65vh;
  background-color: goldenrod;
}

footer{
  height:20vh;
  background-color: black;
  /* color: orangered; */
}
